// A sensible default for 2020
$_FAMILY1: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

// Intended for use in long form copy
$_FAMILY2: Georgia, Cambria, "Times New Roman", Times, serif;

// A slight variant of the default, for flavor text
$_FAMILY3: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial,
  sans-serif;

@mixin font-family($type: unspecified, $variant: unspecified) {
  $_ERROR_HEAD: "font-family($type = #{$type}, $variant = #{$variant}):";

  $_family: undefined;
  $_weight: 400;

  @if $type != default and $type != title and $type != body {
    @error ("#{$_ERROR_HEAD}: $type must be one of: default, title, body");
  } @else if $type == default {
    $_family: $_FAMILY1;
  } @else if $type == title {
    @if $variant == unspecified or $variant < 1 or $variant > 2 {
      @error ("#{$_ERROR_HEAD}: $variant must be in range 1...2");
    } @else if $variant == 1 {
      $_family: $_FAMILY2;
    } @else if $variant == 2 {
      $_family: $_FAMILY3;
    }
  } @else if $type == body {
    $_family: $_FAMILY2;
  }

  font-family: $_family;
  font-weight: $_weight;
}
