@import "./reset";

body {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
}

.title {
  font-size: 24px;
  font-weight: 500;
  padding: 12px;
  text-align: center;
}

.subtitle {
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 8px;
}
