---
import Layout from "../layouts/Layout.astro";
import Bento from "../components/Bento";
---

<Layout title="Welcome to Astro.">
  <main>
    <Bento client:visible />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }

    50% {
      border-color: orange;
    }
  }
</style>
