{{ define "head" }}
{{ $style := resources.Get "/scss/list.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ end }}
{{ define "main" }}
<main aria-role="main">
    <div class="list-content">
        <div class="inner">
            {{ range .Pages.ByPublishDate.Reverse }}

            <article>
                {{ $published_date_formatted := .PublishDate.Format "2006-01-02" }}

                <time datetime="{{ $published_date_formatted }}"
                    >{{ $published_date_formatted }}</time
                >

                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </article>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}
