{{ define "head" }}
{{ $style := resources.Get "/scss/single.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ end }}
{{ define "main" }}
<div class="list-content">
    <div class="inner">
        <article id="container">
            <section id="title">
                <h1>{{ .Title }}</h1>
                {{ $published_date_formatted := .PublishDate.Format "2006-01-02" }}

                <time datetime="{{ $published_date_formatted }}">{{ $published_date_formatted }}</time>
            </section>

            <section id="content">
                {{ .Content }}
            </section>
        </article>
    </div>
</div>
{{ end }}
